
<mat-toolbar>
  <div class="d-flex justify-content-between align-items-center w-100 h-100">
    <div>
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>PF Candeloro Matias 59435</span>
    </div>
    <!--<span class="example-spacer"></span>-->
    <div *ngIf="authUser$ |async; let authUser">
      
      <p><mat-icon subffix>person_outline</mat-icon>{{authUser.firstName}} {{authUser.lastName}}</p>
    </div>
  </div>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>

  <!-- side bar menu lateral-->
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <app-nav-bar></app-nav-bar>
    </mat-drawer>
    <!--area derecha contenido -->
    <div class="example-sidenav-content">
      
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>