
<mat-toolbar>
  <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>PF Candeloro Matias 59435</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>


  <!-- side bar menu lateral-->
    <mat-drawer #drawer class="example-sidenav" mode="side">

      <mat-nav-list>
        <a routerLink="home" routerLinkActive #homeLink="routerLinkActive" [activated]="homeLink.isActive" mat-list-item>Inicio</a>
        <a routerLink="students" routerLinkActive #studentLink="routerLinkActive" [activated]="studentLink.isActive" mat-list-item>Alumnos</a>
        <a routerLink="courses" routerLinkActive #courseLink="routerLinkActive" [activated]="courseLink.isActive" mat-list-item mat-list-item>Cursos</a>
        <a routerLink="inscriptions" routerLinkActive #inscriptionLink="routerLinkActive" [activated]="inscriptionLink.isActive" mat-list-item >Inscripciones</a>
        <a routerLink="users" routerLinkActive #userLink="routerLinkActive" [activated]="userLink.isActive" mat-list-item>Usuarios</a>
        <a (click)="logout()"  mat-list-item>Cerrar Session</a>
      </mat-nav-list>

    </mat-drawer>
    <!--area derecha contenido -->
    <div class="example-sidenav-content">
      
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>