<h1>Inicio</h1>

<div class="row">
    <div class="col-4">
        <mat-card appearance="outlined">
            <mat-card-content>
                <h4>Cursos</h4>
                <h3>{{cantCourses}}</h3>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-4">
        <mat-card appearance="outlined">
            <mat-card-content>
                <h4>Alumnos</h4>
                <h3>{{cantStudents}}</h3>
            </mat-card-content>
        </mat-card>
    </div>
    <div  class="col-4">
        <mat-card appearance="outlined">
            <mat-card-content>
                <h4>Alumnos Incriptos</h4>
                <h3>{{cantInscriptions}}</h3>
            </mat-card-content>
        </mat-card>
    </div>
</div>


