<h1 mat-dialog-title>Crear Usuario</h1>

<div class="container text-center">
    <form >
      <div class="row-3">
        <div class="col-1">
            <mat-form-field>
              <mat-label >Nombre</mat-label>
              <input matInput required>
            </mat-form-field>
        </div>
        <div class="col-1">
          <mat-form-field>
            <mat-label>Apellido</mat-label>
            <input matInput required>
          </mat-form-field>
        </div>
        
        <div class="col-1">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput required>
          </mat-form-field>
        </div>
        
      </div>
      </form>
</div>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close="close">Cancelar</button>
    <button mat-button (click)="onSave()">Guardar</button>
</div>